.article_description_title_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_description_title {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: Roboto-Black, sans-serif;
    display: flex;
    align-items: center;
}

.article_description_title_date {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.articles_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.article {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    width: calc(50% - 5px);
    background-color: #ddd;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.4;
    overflow: hidden;
}

.article p {
    width: 100%;
    margin-bottom: auto;
    font-family: 'CMU Serif Roman', serif;
    font-size: 2.0rem;
    font-weight: 400;
    margin-top: 0;
}

.article i {
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.article hr {
    border: 0;
    height: 2px;
    width: 100%;
    background-color: var(--text_colour);
    margin-top: 0;
    margin-bottom: 10px;
}

.article a {
    display: inline-block;
    font-family: Roboto-Bold, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 16px;
    padding: 12px 30px;
    height: 44px;
    background-color: var(--text_colour);
    color: var(--background_colour);
    transition: 0.5s;
    box-sizing: border-box;
}

.article a:hover {
    background-color: rgb(49, 49, 49);
}

.article_center {
    width: 100%;
    background-color: var(--text_colour);
    color: var(--background_colour);
}

.article_center a {
    background-color: var(--background_colour);
    color: var(--text_colour);
}

.article_center a:hover {
    background-color: #acacac;
}

.main_body_articles_list {
    overflow: hidden;
    padding: 20px;
    padding-top: 0;
    display: block;
    background-color: var(--background_colour);
}

@media (max-width: 767px) {
    .article {
        width: 100%;
    }

    .article_top {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .main_body_articles_list {
        padding-left: 10px;
        padding-right: 10px;
    }

    .article_description_title {
        font-size: 2.0rem;
    }

    .article {
        font-size: 1.5rem;
        padding: 10px;
    }

    .article p {
        font-size: 1.5rem;
    }

    .article a {
        height: 36px;
        padding: 8px 10px;
    }
}