/* General Setup */
@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf), url(../fonts/Roboto-Thin.ttf), url(../fonts/Roboto-ThinItalic.ttf), url(../fonts/Roboto-Medium.ttf), url(../fonts/Roboto-MediumItalic.ttf), url(../fonts/Roboto-Light.ttf), url(../fonts/Roboto-LightItalic.ttf), url(../fonts/Roboto-Italic.ttf), url(../fonts/Roboto-Bold.ttf), url(../fonts/Roboto-BoldItalic.ttf), url(../fonts/Roboto-Black.ttf), url(../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    src: url(../fonts/Roboto-Black.ttf) format("truetype");
}

body {
    --background_colour: #f1f1f1;
    --text_colour: #0a0a0a;
    --accent_colour: #aa50e1;
    --accent_colour_highlight: #b86de6;
    --titlesize: 32px;
    background-color: #6d6d6d;
    background-image: url(../img/Background.jpg);
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: var(--text_colour);
    margin: 0;
    padding: 0.1px;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: var(--accent_colour);
}

a:hover {
    color: var(--accent_colour_highlight);
}

a:visited {
    text-decoration: underline;
}

.main_container {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: var(--background_colour);
    overflow: hidden;
}

/* Title + Image*/
.main_title {
    width: 100%;
    position: relative;
}

.title_image_container {
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    display: block;
    line-height: 0;
}

.title_image_gradient {
    position: absolute;
    background-image: linear-gradient(to right, #f1f1f100, #f1f1f1ff);
}

.title_description_container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto;
}

.title_description {
    color: var(--accent_colour);
    font-size: 18px;
    margin: 20px;
    margin-left: 5px;
    padding: 20px;
    padding-top: 10px;
    background-color: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(50px);
    border-top: 2px solid var(--background_colour);
    border-right: 2px solid var(--background_colour);
    position: relative;
}

.title_description_header {
    margin: 0;
    margin-bottom: 5px;
    font-size: 40px;
    font-family: Roboto-Black;
    font-weight: 300;
}

.title_description_header a {
    color: var(--accent_colour);
}

.title_description_header h1 {
    margin: 0;
}

.social_icons {
    margin-top: 10px;
}

.social_icons a i {
    width: var(--titlesize);
    height: var(--titlesize);
    margin-right: 5px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

@media (max-width: 1220px) {
    .main_container {
        margin-top: 0;
    }

    #footer_container {
        margin-bottom: 0;
    }
}

@media (max-width: 850px) {
    .title_description_container {
        width: 100%;
        left: 0;
        height: fit-content;
    }
    .title_description {
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .main_title {
        height: 300px;
    }

    .title_image_container {
        height: 100%;
    }

    .title_image_container img {
        height: 100%;
        width: auto;
    }

    .title_description {
        font-size: 15px;
        margin: 10px;
    }
    .title_description_header {
        font-size: 24px;
    }
    .social_icons a i {
        width: 20px;
        height: 20px;
    }
}


/* Main Content */

.main_body {
    margin-top: 10px;
}

/* Stripe section */
.stripe_container {
    width: 100%;
    position: relative;
    padding-top: 1px;
    z-index: 0;
    margin-bottom: 50px;
}

.stripe_container::before{
    width: 1300px;
    height: 150px;
    background-color: var(--text_colour);
    position: absolute;
    transform: rotate(3deg);
    transform-origin: 0% 0%;
    left: -20px;
    top: 0;
    
    content: " ";
    z-index: -1;
}

.stripe_container::after {
    width: 1300px;
    height: 150px;
    background-color: var(--text_colour);
    position: absolute;
    transform: rotate(2deg);
    transform-origin: 100% 100%;
    right: 0;
    bottom: -45px;

    content: " ";
    z-index: -1;
}

.stripe_container .main_body_title {
    position: absolute;
    top: 40px;
    color: var(--background_colour);
}

.stripe_content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: var(--text_colour);
    margin-top: 110px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.stripe_text {
    width: calc(50% - 5px);
    margin-left: 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    text-align: justify;
    text-align-last: none;
    background-color: #fff;
    box-sizing: border-box;
}

.stripe_image_container {
    width: calc(50% - 5px);
    height: auto;
    flex-shrink: 0;
    background-color: #fff;
}

.link_button {
    display: inline-block;
    font-family: Roboto-Bold, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    padding: 12px 30px;
    height: 44px;
    background-color: rgb(39, 62, 95);
    color: var(--background_colour);
    transition: 0.5s;
    box-sizing: border-box;
}

.link_button:hover {
    background-color: rgb(83, 118, 166)
}

/* End stripe section */

.main_body_text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 30px;
    width: calc(100% - 20px);
    border-left: 5px solid var(--accent_colour);
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: justify;
}

.main_body_title {
    font-family: Roboto-Black;
    font-size: var(--titlesize);
    font-weight: 300;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

.webring {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.webring a {
    flex-grow: 0;
    display: flex;
    line-height: 0;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}

.webring a img {
    flex-grow: 0;
    height: 40px;
    width: calc(40px*2.5);
}

@media (max-width: 1220px) {
    .stripe_image_container {
        width: 100%;
    }

    .stripe_text {
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .stripe_image_container {
        width: 100%;
    }
    .stripe_text {
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .main_body_title {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .stripe_content {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 80px;
        font-size: 15px;
    }
    .stripe_text {
        font-size: 15px;
        padding: 10px;
    }
    .link_button {
        height: 36px;
        padding: 8px 10px;
        font-size: 15px;
    }
    .main_body_text {
        font-size: 15px;
        margin-left: 10px;
        width: calc(100%-10px);
        padding-left: 5px;
        padding-right: 10px;
    }
}


/* Impressum/Footer */
.impressum {
    display: flex;
}

.impressum>* {
    flex-basis: 100%;
}

.impressum_column {
    padding-left: 20px;
    box-sizing: border-box;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--background_colour);
}

.clickableImg {
    width: 40px;
    margin-top: 5px;
    margin-bottom: -4px;
    /*position: absolute;
    bottom: 25px;
    transform-origin: center;
    transform: translateX(-20px);*/
}

@media (max-width: 767px) {
    .impressum_column {
        width: 100%;
        flex-shrink: 1;
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .impressum_column {
        padding-left: 10px;
        font-size: 15px;
    }
}